<div class="playerInfo">
  <div class="row">
    <div class="col-sm-2">
      <helmet color="{{ car.color }}"></helmet>
    </div>
    <div class="col-sm-10">
      <form class="form-inline">
        <div class="form-group">
          <label for="x">x</label>
          <input type="number" class="form-control" id="x" placeholder="x">
        </div>
        <div class="form-group">
          <label for="y">y</label>
          <input type="number" class="form-control" id="y" placeholder="y">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>